.input_styles {
    border-radius: 360px;
    background-color: snow;
    color: #1F1B24;
}

.submit_styles {
    border-radius: 360px;
    color: white;
    background-color: black;
    font-weight: 0;
}