@font-face {
  font-family: 'clacon';
  // font by deejayy.hu.
  // http://twitter.com/deejayyhu
  src:url(assets/clacon2.ttf);
}

html * {
  text-align: center;
  background-color: #1F1B24;
  color: snow;
  font-family: 'clacon';
  font-weight: lighter;
  font-size: medium;
}

