.project_container {
    display: flex;
    flex-direction: column;
    border-style: groove;
    border-radius: 360px;
    border-color: #03DAC5;
    border-width: 10px;
    margin-bottom: 15px;
    
}

.project_title {
    margin: 10px;
    font-size: larger;
    background-color: transparent;
}

.project_title > a {
    font-size: larger;
    background-color: transparent;
}

.project_icon {
    margin: 15px;
    max-width: 50px;
    height: auto;
}

.link_and_description {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    font-size: large;
}

.link_and_description > a {
    background-color: transparent;
}

.link_and_description > a > img {
    background-color: transparent;
}

.link_and_description > p {
    margin-right: 10px;
    background-color: transparent;
}